/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.4)), url("header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.container .content {
  padding-top: 200px;
  padding-left: 150px;
  width: 700px;
}
.container .content h1 {
  color: white;
  font-size: 50px;
  padding-bottom: 30px;
}
.container .content p {
  color: white;
  font-weight: 300;
  padding-bottom: 30px;
  line-height: 30px;
}
.container .content button {
  color: white;
  background-color: #FF7518;
  border: none;
  padding: 14px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}
.container .content button:hover {
  background-color: #ab561e;
}/*# sourceMappingURL=style.css.map */